body{
    background-image:url(../imges/mine.jpg);
           color:orange;
   }
   .regbox{
     border:2px solid orange;
     position: fixed;
     top:70px;
     left:35%;
     height:200pt;
     width:300pt;
     background-color:black;
     padding:5px;
     ;
            }
            .helpbox{
                border:2px solid orange;
                position:fixed;
                height:70pt;
                width:150pt;
                background-color:black;
                left:35%;
                top:360px;
            }
            .c{
                top:20px;
                background-color: rgb(46, 46, 46);
                color:rgb(255, 166, 0);
                border:1px solid orange;
            }
            .c1{
                top:20px;
                background-color: rgb(46, 46, 46);
                color:rgb(255, 166, 0);
                border:1px solid orange;
                right:3px;
            }
            .c1:hover{
                background-color:orange;
                color:black;
                border:1px solid black;
            }
            .a{
                background-color: rgb(46, 46, 46);
                color:rgb(255, 166, 0);
                border:1px solid orange;
                position:fixed;
                left:42%;
                bottom:14%;
            }
            .exit_button{
                position:fixed;
                top:360px;
                border:2px solid orange;
                background-color:black;
                left:50%;
                color:orange;
                text-decoration:none;
                padding:2px;
            }
            .exit_button:hover{
                background-color:orange;
                color:black;
                border:2px solid black;
            }