body{
    background-image:url(../imges/mine.jpg);
    background-size: cover;
    color:rgb(255, 174, 0);
}
header{position:absolute;
      display:flex;
      white-space: nowrap;
      justify-content: space-around;
      width:230px;
      background-color: rgb(0, 0, 0);
      color:rgb(255, 174, 0);
      z-index:111;
      height:20px;
      padding:1px;
      top:10px;
      left:36%;
}

.a{
 text-decoration:none;
    color:rgb(255, 174, 0);
border:1px solid orange;}
.a:hover{
 background:orange;
 color:black;
 border:1px solid black;
}
.c{
         background-color: rgb(46, 46, 46);
         color:rgb(255, 166, 0);
         padding:5px;
         border:1px solid orange;
     }
 .box{background-color:black;
 color:rgb(189, 132, 8);
  border:2px solid orange;
  
  position:absolute;
  right:15px;
  width:100px;
  height:290px;
 }
 .avatar{
     border:2px solid orange;
     border-radius:50%;
     top:70px;
     width:340px;
     height:340px;
     left:34%;
     background-color:black;
 }
 .photo-bd{background-color:black;
    border:2px solid orange;
    display:flex;
      white-space: nowrap;
      justify-content: space-around;
    width:800px;
    height:154px;
    
    position: absolute;
    z-index:99;
    top:25%;
    left:27%;
 
 }
 .photo{background-color:black;
    border:1px solid orange;
    margin:4px; 
    width:280px;
    height:144px;
    transition:height,width,position;
    transition-duration:5s;
    transition-timing-function:initial;
    position: relative;
    z-index:219;
 }
 .photo:hover{
     width:560px;
     height:288px;
     
 }
 .photo-bd img{
    
        max-width:100%;
        max-height:auto;
        size:cover;
    }
 }